    <div class="footer-container">
      <div class="container">
        {% nav 'additional', depth: 1, exclude: nil, icon: false %}
        <a class="footer-logo" href="/">
          {{ 'footer-logo.png' | theme_image_tag }}
          <span class="phone">8 905 122 22 66</span>
        </a>
      </div>
    </div>
