    <div class="popup popup-callme">
      <div class="popup-container">
        <button class="close-action">X</button>
        <div class="slider-container">
          <div class="slider">
            <h1>Сделайте обратный звонок</h1>
            <h2>прямо сейчас</h2>
            <form method="POST" action="{{contents.callorders.public_submission_url}}">
              {% csrf_param %}
              <input type="hidden" value="?callorder-success" name="success_callback" />
              <input type="hidden" value="?callorder-error" name="error_callback" />
              <input id="content-phone" name="content[phone]" type="text" placeholder="Ваш телефон"/>
              <button type="submit" class="button-any">ОСТАВИТЬ ЗАЯВКУ</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <button class="hidden trigger-popup" data-target=".popup-callme-success"></button>
    <div class="popup popup-callme-success">
      <div class="popup-container">
        <button class="close-action">X</button>
        <div class="slider-container">
          <div class="slider">
            <h1>Спасибо</h1>
            <h2>мы с вами свяжемся в ближайшее время</h2>
          </div>
        </div>
      </div>
    </div>
    <button class="hidden trigger-popup" data-target=".popup-callme-error"></button>
    <div class="popup popup-callme-error">
      <div class="popup-container">
        <button class="close-action">X</button>
        <div class="slider-container">
          <div class="slider">
            <h1>Ой!</h1>
            <h2>что-то пошло не так :-(</h2>
          </div>
        </div>
      </div>
    </div>
