---
title: "Барбоскины"
slug: barboskiny
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 4
seo_title: "барбоскины, анимвторы, тамбов, кидс пати, детский праздник, день рождение,
  выпускной, сентябрь"
meta_keywords: "барбоскины, анимвторы, тамбов, кидс пати, детский праздник, день рождение,
  выпускной, сентябрь"
meta_description: "барбоскины, анимвторы, тамбов, кидс пати, детский праздник, день
  рождение, выпускной, сентябрь"
editable_elements:
  body/content: "<p>Вы смотрели хотя бы одну серию мультфильма \"Барбоскины\"? Значит,
    вы уже напеваете песенку \"Ты и я, ты и я, мы с тобой друзья!\"?</p>\r\n<p>Наша
    развлекательная программа по мотивам мультфильма &laquo;Барбоскины&raquo; расскажет
    о доброй собачьей семье. Они живут в нашем современном мире&nbsp; аналогично тому,
    как и люди, размеренной полноценной&nbsp; жизнью. На праздник к мальчикам и девочкам
    отправляются самые смелые из Барбоскиных &ndash; Роза и Дружок. Дружок ощущает
    себя уже взрослым, но&nbsp; мечтает вырасти и стать знаменитым футболистом, Роза
    &mdash; настоящая красавица, кокетка и модница.</p>\r\n<p>В начале праздника ребята
    вдруг замечают, что к ним в гости пришла одна Роза, Дружку в это время захотелось
    поспать. Ребята весело будят соню, делают зарядку и приступают к любимому лакомству
    всех собачек &ndash; косточкам. Дружок будет рыбачить с ребятами и научит кормить
    змеек. Роза проведет урок &laquo;барбоскиных&raquo; манер и красоты, и, разучит
    с гостями гимн &laquo;Ну, ващеее!&raquo;. Барбоскины устроят настоящее веселье
    на детский праздник!</p>\r\n<table style=\"height: 26px; width: 613px;\" border=\"0\">\r\n<tbody>\r\n<tr>\r\n<td><img
    src=\"/samples/assets/IMG_9568.JPG\" alt=\"\" width=\"377\" height=\"566\" /></td>\r\n<td>&nbsp;<img
    src=\"/samples/assets/IMG_9876.JPG\" alt=\"\" width=\"381\" height=\"572\" /><img
    src=\"/samples/assets/IMG_0969.JPG\" alt=\"\" width=\"381\" height=\"572\" /></td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<p>&nbsp;</p>\r\n<p>В
    программе:</p>\r\n<p>&mdash; тематические веселые игры и конкурсы, сюжетно связанные
    друг с другом (на ловкость, внимание, фантазию, воображение, быстроту реакции,
    креативность, скорость, смелость и пр.). В зависимости от возраста, конкурсы,
    конечно же, разные;</p>\r\n<p>&mdash; оригинальный тематический реквизит, привлекающий
    внимание детей;</p>\r\n<p>&mdash; шарики обычные, используются для игр и рисования
    на них (все шарики остаются на память детям);</p>\r\n<p>&mdash; салют из мыльных
    пузыриков;</p>\r\n<p>&mdash; легкий аквагрим;</p>\r\n<p>&mdash; музыкальное сопровождение;</p>\r\n<p>&mdash;
    новые яркие костюмы.</p>\r\n<p>Также мы выполняем различные дополнительные пожелания
    по мероприятию: вынос торта, подведение конкурсных итогов, вручение подарков или
    грамот и так далее. Возможно, Вам что-то особенное хочется в программе, мы готовы
    к исполнению пожеланий!</p>"
---
{% extends 'parent' %} 