---
title: "Холодное сердце"
slug: kholodnoie-sierdtsie
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: "холодное сердце королева эльза снеговик олаф новый год детские елки кидс
  пати"
meta_keywords: "холодное сердце, королева эльза, снеговик олаф, новый год, детские
  елки,  кидс пати"
meta_description: "холодное сердце королева эльза снеговик олаф новый год детские
  елки кидс пати"
editable_elements:
  body/content: "<p>Детский праздник с героями &laquo;Холодного сердца&raquo; королевой
    Эльзой и снеговиком Олафом.</p>\r\n<p>Ребята отправляются в путешествие по заколдованному
    королевству, которое погрузилось в вечную зиму. С помощью доброты, отзывчивости
    и выполнения различных заданий, дружная команда избавит королевство от древнего
    проклятия и поможет растопить лед в сердце Эльзы. Все гости вместе с артистами
    будут прыгать по снежным сугробам, играть в снежки, лепить снеговиков, бегать
    под сосульками, кататься на санях, сушить мокрые варежки и конечно водить хоровод
    вокруг ёлочки! Детский праздник с героями &laquo;Холодного сердца&raquo; можно
    провести дома, в детском саду, в школе, в детском клубе, в кафе или ресторане
    в Тамбове и Тамбовской области.</p>\r\n<table style=\"height: 26px; width: 660px;\"
    border=\"0\">\r\n<tbody>\r\n<tr>\r\n<td><img src=\"/samples/assets/IMG_1347.JPG\"
    alt=\"\" width=\"557\" height=\"371\" /></td>\r\n<td>&nbsp;<img src=\"/samples/assets/IMG_1262.JPG\"
    alt=\"\" width=\"560\" height=\"373\" /></td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<table
    border=\"0\">\r\n<tbody>\r\n<tr>\r\n<td><img src=\"/samples/assets/IMG_1420.JPG\"
    alt=\"\" width=\"384\" height=\"577\" /></td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<p><br
    />&nbsp; &nbsp;В программе:</p>\r\n<p>&mdash; тематические веселые игры и конкурсы,
    сюжетно связанные друг с другом! (на ловкость, внимание, фантазию, воображение,
    быстроту реакции, креативность, скорость, смелость и пр.) В зависимости от возраста,
    конкурсы, конечно же, разные;</p>\r\n<p>&mdash; оригинальный тематический реквизит,
    привлекающий внимание детей;</p>\r\n<p>&mdash; шарики обычные, используются для
    игр и рисования на них (все шарики остаются на память детям);</p>\r\n<p>&mdash;
    салют из мыльных пузыриков;</p>\r\n<p>&mdash; легкий аквагрим;</p>\r\n<p>&mdash;
    музыкальное сопровождение;</p>\r\n<p>&mdash; дискотека под любимые хиты;</p>\r\n<p>&mdash;
    новые яркие костюмы.</p>\r\n<p>Также мы выполняем различные дополнительные пожелания
    по мероприятию: вынос торта, подведение конкурсных итогов, вручение подарков или
    грамот и так далее. Возможно, Вам что-то особенное хочется в программе, мы готовы
    к исполнению пожеланий!</p>"
---
{% extends 'parent' %}