---
title: "Пираты"
slug: piraty
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 6
seo_title: "пираты, аниматоры, тамбов, кидс пати, детский праздник, день рождение,
  выпускной, новый год, 1 сентября"
meta_keywords: "пираты, аниматоры, тамбов, кидс пати, детский праздник, день рождение,
  выпускной, новый год, 1 сентября"
meta_description: "пираты, аниматоры, тамбов, кидс пати, детский праздник, день рождение,
  выпускной, новый год, 1 сентября"
editable_elements:
  body/content: "<p>Остров сокровищ или невероятные пиратские приключения на детский
    праздник в Тамбове и области.</p>\r\n<p><span>\"Пиратский День Рождения\" - традиционно
    одна из самых любимых программ мальчишек, девчонок и даже родителей! Отважный
    Пират Дик и озорная Пиратка Джесси предлагают ребятам всем вместе дружно отправиться
    на поиски клада. Ребята путешествуют, ориентируясь по старинной карте. Они проходят
    одно испытание за другим, выполняя задания пиратов. В процессе игры они оказываются
    на пиратском судне в океане, меряются своими силами, разгадывают зашифрованное
    послание из бутылки, устраивают сумасшедшие гонки и настоящее веселье с воздушными
    шарами! В конце все юные пираты, приглашенные на День Рождения, торжественно вскрывают
    сундук с подарками для всех гостей!&nbsp;</span></p>\r\n<p><span>Для всех гостей
    приготовлены пиратские банданы, флаги и крюки, а виновнику торжества оденут пиратскую
    шляпу!</span></p>\r\n<p>В программе:</p>\r\n<p>&mdash; тематические веселые игры
    и конкурсы, сюжетно связанные друг с другом! (на ловкость, внимание, фантазию,
    воображение, быстроту реакции, креативность, скорость, смелость и пр.) В зависимости
    от возраста, конкурсы, конечно же, разные;</p>\r\n<p>&mdash; оригинальный тематический
    реквизит, привлекающий внимание детей;</p>\r\n<p>&mdash; шарики обычные, используются
    для игр и рисования на них (все шарики остаются на память детям);</p>\r\n<p>&mdash;
    салют из мыльных пузыриков;</p>\r\n<p>&mdash; легкий аквагрим;</p>\r\n<p>&mdash;
    музыкальное сопровождение;</p>\r\n<p>&mdash; дискотека под любимые хиты;</p>\r\n<p>&mdash;
    новые яркие костюмы.</p>\r\n<p>Также мы выполняем различные дополнительные пожелания
    по мероприятию: вынос торта, подведение конкурсных итогов, вручение подарков или
    грамот и так далее. Возможно, Вам что-то особенное хочется в программе, мы готовы
    к исполнению пожеланий!</p>"
---
{% extends 'parent' %} 