---
title: "аниматоры"
slug: animatory
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 6
editable_elements:
  body/content: "<p>фывфывфывфывфыв</p>\r\n<p>фывфывфыв</p>"
---
{% extends 'parent' %}