---
title: "О нас"
slug: o-nas
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: "аниматоры в тамбове, кидс пати, фиксики, барбоскины, детский праздник,
  клоун, новый год, дед мороз и снегурочка"
meta_keywords: "аниматоры в тамбове, кидс пати, фиксики, барбоскины, детский праздник,
  клоун, новый год, дед мороз и снегурочка"
meta_description: "аниматоры в тамбове, кидс пати, фиксики, барбоскины, детский праздник,
  клоун, новый год, дед мороз и снегурочка"
editable_elements:
  body/content: "<p>Здравствуйте! Рады видеть вас на нашем сайте!</p>\r\n<p>Хотите
    устроить детский праздник? Очень постараемся помочь вам в этом нелегком и веселом
    деле.</p>\r\n<p>Каждому родителю хочется создать чудо для своего малыша. Этот
    вопрос становится особенно актуальным в преддверии какого-либо праздника. И, конечно,
    детишки, с таким нетерпением ждут Дня Рождения, Нового Года или выпускного в детском
    саду. Они ведь еще верят в чудеса! Особенно малыши. Наверняка, вы замечали,&nbsp;
    как серьезно они задувают свечки на своем праздничном торте! И, конечно же, родители
    стремятся к тому, чтобы ребенок запомнил праздник надолго. Детские воспоминания
    &ndash; это на всю жизнь!</p>\r\n<p>Конечно, за организацию новогоднего представления,
    детского дня рождения&nbsp; или другого праздника можно взяться самостоятельно.
    В таком случае, Вам предстоит немало дел: сшить или купить яркие праздничные костюмы;
    придумать развлекательную программу; украсить помещение; приготовить угощение
    и подарки и организовать фотосъемку. Смогут ли родители со всем этим справиться
    самостоятельно? Да, организовать детский праздник&nbsp; не так уж просто. Самое
    время обратиться в KIDS PARTY! Мы тут как раз этим и занимаемся.</p>\r\n<p>Мы
    предлагаем родителям тоже расслабиться и отдохнуть вместе с детьми и остальными
    гостями на празднике!</p>\r\n<p>Организацией и проведением детских праздников
    мы занимаемся с 2013 года. За это время, мы провели около 400 праздников по Тамбову
    и области. Все наши аниматоры хорошие актеры, умеют войти в образ персонажа и
    прийти к детям в гости, как в настоящей сказке!</p>\r\n<p>Наши преимущества: &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span
    style=\"line-height: 1.5em;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp;</span></p>\r\n<ol>\r\n<li>Яркие костюмы и образы персонажей.</li>\r\n<li>Тематический
    реквизит к празднику.</li>\r\n<li>Качественное предоставление услуг.</li>\r\n<li>Индивидуальный
    подход к каждому празднику.</li>\r\n</ol>\r\n<p>Как сделать заказ?</p>\r\n<p>Вам
    остается лишь связаться нами или оставить заявку на звонок. Исходя из возраста
    и количества детей предстоящего праздника, а также его места проведения, мы подскажем
    вам, что можем предложить на данный момент. &nbsp;Будем рады Вас слышать!&nbsp;</p>\r\n<p>&nbsp;<img
    style=\"line-height: 1.5em;\" src=\"/samples/assets/bVf5om_GFJE.jpg\" alt=\"\"
    width=\"325\" height=\"488\" /></p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>\r\n<p>&nbsp;</p>"
---
{% extends 'parent' %}